.header{
    width: 100%;

    background-color:rgb(85, 84, 84);
    text-align: center;
}
.menu{
    display: inline-block;
    width: 80px;
    height: 20px;
    margin: 15px;
    border-radius: 5px;
    color: rgb(201, 195, 195);
    padding: 7px;
    position: relative;
}
.menu1{
width: 150px;
border-radius: 5px;
background-color: rgb(59, 58, 58);
position: absolute;
top:34px;
left: 50px;
display: none;
}
.menu:hover .menu1{
    display: block;
}
.item{
    width: 150px;
    height: 30px;
}
.menu:hover{
    background-color: rgb(65, 61, 61);
}
.menu2{
    width: 150px;
border-radius: 5px;
background-color: rgb(59, 58, 58);
position: absolute;
top:120px;
left: 150px;
display: none;
}
.item:hover .menu2{
    display: block;
}