* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; 
}
.hamburger {
  background-color: rgb(92, 92, 92);
  position: absolute;
  left: 330px;
  top: 30px;
  visibility: hidden;
  opacity: 0.5;
  z-index: 50; 
  color: white;
  border-radius: 5px;
  
}
.dopmenu{
  visibility: hidden;
  width: 300px;
  height: 700px;
  background-color: white;
  position: fixed;
  opacity: 1;
  top:90px;
  left: -300px;
  z-index: 50;
  top: 0;
  transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
  padding-top: 30px;
  

  
}
.dopmenu a{
  font-weight: bold;
  color:rgb(77, 77, 77);
  text-decoration: none; 
}
.dopmenu .dopmenu-items{
  height: 50px;
  color: rgb(77, 77, 77);
  border-bottom: 1px solid rgb(226, 226, 226);
}
.dopmenu .dopmenu-items:last-child{
  margin-bottom: 50px;
}
.hamburger .material-icons{
  font-size: 60px;
}
  .dopmenu:hover + .page{
    margin-left: 300px;

  }
  .dopmenu:hover{
    left: 0;

  }
  
  
.page{
  position: relative;
  transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;

}
.header-wrapper header nav .item {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease; }

.banner .button .button1, .banner .button .button2 {
  height: 90px;
  width: 100%;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.main-wrapper .container .main .left, .main-wrapper .container .main .right {
  height: 100%; }

body {
  background-color: #dddddd;
  font-family: "Open Sans", sans-serif; }

.container {
  width: 960px;
  margin: auto; }



.header-wrapper {
  padding-top: 50px;
  padding-bottom: 30px; }
  .header-wrapper header .logo {
    display: inline-block;
    float: left;
    vertical-align: middle; }
    .header-wrapper header .logo h1 {
      font-family: Brush Script MT, Brush Script Std, cursive;
      font-size: 50px;
      background-color: #ff4486;
      padding: 0px 15px;
      border-radius: 6px;
      color: white;
      display: inline-block;
      vertical-align: middle; }
    .header-wrapper header .logo span {
      display: inline-block;
      vertical-align: middle;
      color: #5a5858;
      font-weight: bold;
      margin-left: 5px;
      font-family: "Open Sans", sans-serif; }
  .header-wrapper header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right; }
    .header-wrapper header nav .item {
      margin-left: 30px;
      margin-top: 10px;
      color: #5a5858;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      border-radius: 5px;
      padding: 10px;
      position: relative; }
      .header-wrapper header nav .item a {
        text-decoration: none;
        color: #5a5858; }
      .header-wrapper header nav .item:hover {
        background-color: white; }
      .header-wrapper header nav .item .submenu {
        visibility: hidden;
        position: absolute;
        top: 35px;
        left: 0;
        list-style: none;
        background-color: white;
        border-radius: 5px;
        width: 150%;
        border: 1px solid #b8b6b6; }
        .header-wrapper header nav .item .submenu li {
          border-bottom: 1px solid gray;
          text-align: center;
          padding: 10px 0;
          position: relative; }
        .header-wrapper header nav .item .submenu li:last-child {
          border: none; }
        .header-wrapper header nav .item .submenu li:hover {
          background-color: #f0f9fc; }
        .header-wrapper header nav .item .submenu .subsubmenu {
          visibility: hidden;
          list-style: none;
          position: absolute;
          top: 0;
          left: 100%;
          background-color: white;
          width: 150px;
          border-radius: 5px;
          border: 1px solid #b8b6b6; }
        .header-wrapper header nav .item .submenu li:hover .subsubmenu {
          visibility: visible; }
      .header-wrapper header nav .item:hover .submenu {
        visibility: visible; }
    .header-wrapper header nav .item1 {
      margin-left: 30px;
      margin-top: 10px;
      color: #5a5858;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      border-radius: 5px;
      padding: 10px;
      background-color: #464646;
      color: white; }
      .header-wrapper header nav .item1 a {
        text-decoration: none;
        color: white; }

.banner {
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  color: #353333; }
  .banner .text {
    width: 58.33333%;
    margin: 50px; }
    .banner .text h1 {
      font-size: 60px;
      font-weight: bold; }
    .banner .text p {
      font-size: 37px;
      font-family: Verdana; }
  .banner .button {
    width: 41.3333%;
    margin: 50px 50px 50px 0;
    height: 100%;
    height: 100%; }
    .banner .button .button1 {
      background-color: #0380d3;
      color: white; }
      .banner .button .button1 .krug {
        height: 36px;
        width: 36px;
        border-radius: 18px;
        background-color: white;
        color: #0380d3;
        text-align: center; }
    .banner .button .button2 {
      background-color: #d7dcdf;
      margin-top: 10px;
      color: #474747; }
      .banner .button .button2 .krug {
        height: 36px;
        width: 36px;
        border-radius: 18px;
        background-color: #474747;
        color: #d7dcdf;
        text-align: center; }

.features-wrapper {
  margin-top: 30px;
  height: 560px; }
  .features-wrapper .container {
    height: 100%; }
    .features-wrapper .container .features {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .features-wrapper .container .features .features1 {
        height: 100%;
        width: 32%;
        border-radius: 6px;
        background-color: white;
        overflow: hidden;
        color: #494949; }
        .features-wrapper .container .features .features1 img {
          height: 45%; }
        .features-wrapper .container .features .features1 h1 {
          font-family: Arial Black;
          font-size: 25px;
          margin: 40px 0 10px 20px; }
        .features-wrapper .container .features .features1 h2 {
          font-size: 15px;
          font-family: Tahoma;
          margin: 0 0 40px 20px; }
        .features-wrapper .container .features .features1 h3 {
          font-size: 15px;
          font-family: Tahoma;
          margin: 0 20px;
          line-height: 2; }

.main-wrapper {
  background-color: white;
  margin-top: 30px;
  height: 450px;
  padding: 60px 0 60px 0; }
  .main-wrapper .container {
    height: 100%; }
    .main-wrapper .container .main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #5e5b5b; }
      .main-wrapper .container .main .left {
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .main-wrapper .container .main .left h3 {
          font-family: Arial Black;
          font-size: 25px; }
        .main-wrapper .container .main .left .galery {
          margin: 20px 0;
          height: 200px;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap; }
          .main-wrapper .container .main .left .galery img {
            width: 155px;
            border-radius: 6px; }
        .main-wrapper .container .main .left span {
          background-color: #0380d3;
          color: white;
          font-family: Arial Black;
          font-size: 25px;
          padding: 17px;
          border-radius: 6px; }
      .main-wrapper .container .main .right {
        width: 66.6666%; }
        .main-wrapper .container .main .right h1 {
          margin-left: 40px;
          font-family: Arial Black;
          font-size: 38px; }
        .main-wrapper .container .main .right h2 {
          margin-left: 40px;
          font-size: 15px;
          font-family: Tahoma;
          margin: 20px 0 20px 40px;
          line-height: 2; }
        .main-wrapper .container .main .right h3 {
          margin-left: 40px;
          font-size: 15px;
          font-family: Tahoma;
          line-height: 2;
          margin-bottom: 40px; }
        .main-wrapper .container .main .right span {
          background-color: #0380d3;
          color: white;
          font-family: Arial Black;
          font-size: 25px;
          padding: 17px;
          border-radius: 6px;
          margin-left: 40px; }
          .main-wrapper .container .main .right span .krug {
            display: inline-block;
            height: 36px;
            width: 36px;
            border-radius: 18px;
            background-color: white;
            color: #0380d3;
            text-align: center; }

.footer-wrapper footer {
  margin-top: 100px; }
  .footer-wrapper footer .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5e5b5b; }
    .footer-wrapper footer .row .column {
      width: 25%; }
      .footer-wrapper footer .row .column h1 {
        font-family: Arial Black;
        font-size: 20px;
        margin-bottom: 30px; }
      .footer-wrapper footer .row .column a {
        font-size: 15px;
        font-family: Tahoma;
        line-height: 3;
        color: #5e5b5b; }
      .footer-wrapper footer .row .column p {
        font-size: 15px;
        font-family: Tahoma;
        line-height: 3;
        color: #5e5b5b; }
      .footer-wrapper footer .row .column .social {
        margin: 37px 0; }
        .footer-wrapper footer .row .column .social img {
          display: inline-block;
          width: 40px; }
    .footer-wrapper footer .row .inf {
      text-align: center;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 100px; }
      .footer-wrapper footer .row .inf span {
        font-size: 15px;
        font-family: Tahoma;
        color: #8a8989;
        border-right: 0.5px solid #5e5b5b;
        display: inline-block;
        margin-right: 20px;
        padding-right: 20px; }
        .footer-wrapper footer .row .inf span:last-child {
          margin: 0;
          padding: 0;
          border: none; }

/*# sourceMappingURL=verti.css.map */
