.back{
    background-image: url(tmb_84606_2084.jpg);
    width: 100%;
    border: 1px solid black;
    height: 780px;
    background-size: 100%;
}
.container{
    background-color: black;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    
}
.menu{
    height: 170px;
    width: 450px;
    border: 1px solid white;
    display: inline-block;
    margin-top:230px;
    border-radius: 10px;
    text-align: center;
}
.title{
    color: white;
    line-height: 0.5;

}
.hr{
    border: 1px solid white;
    line-height: 0.5;
}